body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.grad {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(128, 128, 128));
}

.partial-sepia {
    filter: sepia(50%);
}


.transparent {
    filter: opacity(30%);
}

.complete-transparent {
    filter: opacity(90%);
}

.complete-sepia {
    filter: sepia(100%);
}

.shadow {
    filter: drop-shadow(4px 4px 4px rgb(243, 183, 183));
}

.border
{
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightblue;
}